h2 {
  font-size:25px;
  display:flex;
  justify-content:space-around;
}
body {
  background-color: #9e9e9eff; /* Sets the background of the page to grey */
}
  .logo{
    display:flex;
    justify-content:space-around;
    background:rgb(94, 16, 8);
    font-size: 120px;

  }
  nav{
    display:flex;
    justify-content:space-around;
    z-index: 999;
    background:rgb(94, 16, 8);
    position:sticky;
    font-size: 60px;
    top:0;
    text-decoration: none;

  }
  a{
    text-decoration: none;
    color:white;
    font-size: 60px;
    font-family: "Dorsa", serif;
    font-weight: 800;
    font-style: normal;
    }
    .cont {
      width:70%;
      background:#9e9e9eff;
      //change this color maybe just so you can see where everything is
      height:1000px;
      margin: 0 auto;
      
    }
    .tscreen{
      width:60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .button {
      background-color: #ab0009;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 20px 30px;
      cursor: pointer;
      font-size: 24px;
      display: block; /* Makes the button a block element */
      margin: 0 auto; /* Centers horizontally */
  }
  .hidden{
    display: none;

  }
  .q1{
    display:flex;
    justify-content:space-around;
    background:#9e9e9eff;
    font-size: 40px;
    width:70%;
    margin: 0 auto;

  }
  .year{
    border: none;
      border-radius: 4px;
      padding: 20px 30px;
      cursor: pointer;
      font-size: 24px;
      display: block; /* Makes the button a block element */
      margin: 0 auto; /* Centers horizontally */
  }
  .timemessage {
    color: #d9534f;
    margin-top: 10px;
}